#container {
	text-align:center;
	width:50%;
	margin-left:25%;
}
p {
	text-align:left;
}

ul {
	text-align:left;
}

#instruct {
	position:absolute;
	width:550px;
	height:100px;
	text-align:left;
	float:left;
	margin-top:500px;
	margin-left:5px;
	overflow:auto;
}

#presentation {
	width:720px;
	height:600px;
	margin:auto;
}