/*Must be added to overall stylesheet*/

#instruct {
	position:absolute;
	width:550px;
	height:100px;
	float:left;
	margin-top:500px;
	margin-left:5px;
	overflow:auto;
}

#presentation {
	width:720px;
	height:600px;
	margin:auto;
}

#content {
	overflow:auto;
}